@mixin fixed-gradient-border__container($border-width: 0.5em) {
	position: relative;
	border: solid $border-width transparent;
	background: var(--background, white);
	background-clip: padding-box;

	// Fake box-shadow because of overlap issues with decoration
	&::before {
		content: '';
		position: absolute;
		box-sizing: content-box;
		padding: $border-width;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-color: black;
		bottom: $border-width * -2;
		right: $border-width * -2;
	}
}

@mixin fixed-gradient-border__decoration($border-width: 0.5em) {
	position: absolute;
	clip: rect(0, auto, auto, 0);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	margin: -$border-width;

	&:before {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		border-radius: inherit;
		background: linear-gradient(to bottom, var(--accent-1), var(--accent-2));
	}
}

@mixin custom-list-bullet($character) {
	list-style: none;
	position: relative;

	&::before {
		content: $character;
		position: absolute;
		left: $page-margin-mobile * -1;
		line-height: inherit;

		@include larger-than(mobile) {
			left: $page-margin-tablet * -1;
		}
	}
}
