$cta-border-width: 0.166666em;

.cta {
	@include fixed-gradient-border__container($cta-border-width);

	display: inline-flex;
	font-family: $display-font;
	align-items: center;
	padding: 0.75em 2em;
	text-decoration: none;
	position: relative;
	font-style: normal;
	cursor: pointer;

	&:hover {
		color: var(--accent-2);
	}

	&::after {
		content: '☞';
		margin-left: 1em;
		font-size: 2em;
		line-height: 1;
	}

	&:active {
		margin: 2px -2px -2px 2px;

		&::before {
			bottom: -$cta-border-width;
			right: -$cta-border-width;
		}
	}
}

.cta__decoration {
	@include fixed-gradient-border__decoration($cta-border-width);
}
