.form {
	margin: 0 0 4em;
}

.form__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	margin-bottom: -1em;
}

.form__item {

	margin-right: $page-margin-mobile;
	flex-grow: 1;

	@include larger-than(mobile) {
		margin-right: $page-margin-tablet;
	}

	&:last-child {
		margin-right: 0;
		flex-grow: 0;
	}
}

.form__input {
	@include reset-text-input;

	padding: 0.75em 1em;
	min-width: 16em;
	width: 100%;
	line-height: 1;
	border: 0.166666em solid var(--foreground, black);
	margin-bottom: 1em;
	box-shadow: 0.25em 0.25em 0 0 var(--shadow, black);
}

.form__submit {
	@extend .cta;

	color: inherit;
	margin-bottom: 1em;

	&::after {
		content: none;
	}
}
