.gallery {
	display: flex;
	align-items: center;
	margin: 4em -4em;
}

.gallery__item {
	margin: 0;
	width: 50%;

	& + & {
		margin-left: 2em;
	}
}

.gallery__caption {
	font-style: italic;
	line-height: 1;
	font-size: 0.75em;
}
