.header {
	font-family: $display-font;
	margin: 2em 0;

	@include larger-than(mobile) {
		margin: 4em 0;
	}

	@include larger-than(tablet) {
		margin: 6em 0;
	}
}

.header__nav {
	margin-bottom: 2em;
}

.header__description {
	margin: 0;
}
