.header {
	@include fixed-gradient-border__container(0.25em);

	max-width: 600px;
	padding: 2em;
	margin: 4em auto;
	box-sizing: content-box;
}

.header__nav {
	margin-bottom: 2em;
}

.header__description {
	margin: 0;
}

.header__decoration {
	@include fixed-gradient-border__decoration(0.25em);
}
