.homepage-header {
	margin: 0.333333em 1em 2em 0.333333em;
	padding: 2em;
	position: relative;
	box-shadow: 0.5em 0.5em 0 0 var(--foreground, black);
	border: 0.25em solid var(--foreground, black);

	@include larger-than(mobile) {
		margin: 4em;
		padding: 6em 8em;
		border-width: 0.333333em;
		box-shadow: 0.666666em 0.666666em 0 0 var(--foreground, black);
	}
}

.homepage-header__contents {
	max-width: 1024px;

	@include larger-than(mobile) {
		padding-right: 15%;
	}
}

.homepage-header__decoration {
	font-size: 2em;

	&::before {
		content: '▰';
	}

	&::after {
		content: '▰';
		color: var(--accent);
	}

	@include larger-than(mobile) {
		font-size: 4em;
	}
}

.homepage-header__permalink {
	text-decoration: none;
}

.homepage-header__title {
	margin-bottom: 4em;
	display: block;
	font-size: 1em;
	font-weight: 400;
}

.homepage-header__subtitle {
	font-size: 1.666666em;
	line-height: 1.333333;
	margin-bottom: 1em;

	@include larger-than(mobile) {
		font-size: 3em;
	}

	a {
		text-decoration-width: 0.1em;
	}
}

// .homepage-header__full-stop--london {
// 	color: black;
// }

// .homepage-header__full-stop--ny {
// 	color: #FFD400;
// }

@keyframes shadow {
	from {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
	}

	to {
		box-shadow: 3em 3em 0 0 rgba(0, 0, 0, 0.05);
	}
}
