$border-width: 0.5em;

.homepage-header {
	@include fixed-gradient-border__container($border-width);

	margin: 1em 1em 4em + $border-width;
	padding: 4em $page-margin-mobile;
	font-family: $display-font;

	@include larger-than(mobile) {
		margin: 2em $page-margin-tablet 4em + $border-width;
		padding: 4em;
	}

	@include larger-than(desktop) {
		margin: 4em auto 4em + $border-width;
		padding: 4em 6em;
		max-width: 1200px;
	}
}

.homepage-header__contents {
	max-width: 1024px;
}

.homepage-header__decoration {
	@include fixed-gradient-border__decoration($border-width);
}

.homepage-header__permalink {
	text-decoration: none;
}

.homepage-header__title {
	display: block;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.homepage-header__subtitle {
	font-size: 1.5em;
	line-height: 1.333333;
	margin: 4rem 0;

	@include larger-than(tablet) {
		font-size: 2em;
	}

	@include larger-than(desktop) {
		font-size: 2.5em;
	}
}
