$border-width: 0.5em;

.homepage-header {
	@include fixed-gradient-border__container($border-width);

	margin: 1em 1em 4em + $border-width;
	padding: 4em 2em;
	font-family: $display-font;

	@include larger-than(mobile) {
		margin: 2em 2em 2em + $border-width;
		padding: 4em;
	}

	@include larger-than(desktop) {
		margin: 4em 4em 4em + $border-width;
		padding: 4em 6em;
	}
}

.homepage-header__contents {
	max-width: 1024px;

	@include larger-than(tablet) {
		padding-right: 15%;
	}
}

.homepage-header__decoration {
	@include fixed-gradient-border__decoration($border-width);
}

.homepage-header__permalink {
	text-decoration: none;
}

.homepage-header__title {
	display: block;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.homepage-header__subtitle {
	font-size: 1.75em;
	line-height: 1.333333;
	margin: 4rem 0;

	@include larger-than(tablet) {
		font-size: 2em;
	}

	@include larger-than(desktop) {
		font-size: 2.5em;
	}

	a {
		text-decoration-width: 0.1em;
	}
}

// .homepage-header__full-stop--london {
// 	color: black;
// }

// .homepage-header__full-stop--ny {
// 	color: #FFD400;
// }

@keyframes shadow {
	from {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
	}

	to {
		box-shadow: 3em 3em 0 0 rgba(0, 0, 0, 0.05);
	}
}
