.nav__items {
	@include reset-ul;

	display: flex;
}

.nav__item {
	margin-right: 1em;

	&::after {
		content: '▰';
		margin-left: 1em;
		color: var(--accent-2);
	}

	&:last-child::after {
		content: none;
	}
}
