.nav__items {
	@include reset-ul;

	@include larger-than(mobile) {
		display: flex;
	}

	&.nav__items--home {
		display: flex;
		flex-wrap: wrap;
	}
}

.nav__item {
	margin-right: $page-margin-mobile - 0.666666em;
	white-space: nowrap;
	line-height: 2;
	position: relative;
	padding-left: $page-margin-mobile;

	@include larger-than(mobile) {
		line-height: 1;
	}

	@include larger-than(tablet) {
		margin-right: 1.5em;
		padding-left: $page-margin-tablet;
	}

	&::before {
		position: absolute;
		content: $decoration-character;
		color: var(--accent-2);
		left: 0;
	}

	&:first-child {
		@include larger-than(mobile) {
			padding-left: 0;
		}
		
		.nav__items--home & {
			padding-left: 0;
		}

		&::before {
			color: var(--accent-1);

			@include larger-than(mobile) {
				left: -$page-margin-mobile;
			}

			@include larger-than(tablet) {
				left: -$page-margin-tablet;
			}

			.nav__items--home & {
				content: none;
			}
		}
	}

	&:last-child {
		margin-right: 0;
	}
}
