.page {
	padding: 0 $page-margin-mobile;

	@include larger-than(mobile) {
		padding: 0 $page-margin-tablet;
	}
}

.page__heading {
	@extend h1;

	margin: 0 0 1em;
}

.page__content {
	@include constrain;

	h2 {
		margin: 0 0 1.5em;
	}

	ul {
		margin: 0 0 4em;
		line-height: 1.666666;
		padding: 0 0 0 $page-margin-mobile;

		@include larger-than(mobile) {
			padding: 0;
		}

		li {
			@include custom-list-bullet($decoration-character);

			margin: 0 0 2em;
		}
	}
}
