.post {
	max-width: 600px;
	margin: 0 auto;
}

.post__header {
	margin: 6em 0;
}

.post__headline {
	font-size: 4em;
	margin: 0;
}

.post__dateline {
	margin-top: 2em;
	display: block;
}

.post__content p {
	line-height: 1.666666;
}
