.post {
	max-width: 600px;
	margin: 0 auto;
}

.post__header {
	margin: 6em 0;
}

.post__headline {
	font-size: 4em;
	margin: 0;
}

.post__dateline {
	margin-top: 2em;
	display: block;
}

.post__content {
	p,
	li {
		line-height: 1.666666;
	}

	ul {
		padding: 0;
		margin: 2em 0;
	}

	li {
		@include custom-list-bullet('▰');

		margin: 0 0 1em;
	}

	pre {
		padding: 2em;
		margin: 2em -2em;
	}
}
