.post-list {
	margin: 0 0 4em;
	line-height: 1.666666;
	padding: 0 0 0 $page-margin-mobile;

	@include larger-than(mobile) {
		padding: 0;
	}
}

.post-list__link {
	display: block;

	&:visited {
		opacity: 0.75;
	}
}

.post-list__item {
	@include custom-list-bullet($decoration-character);

	margin: 0 0 2em;
}

.post-list__heading {
	margin: 0;
}
