.post__header {
	margin: 4em 0;
}

.post__headline {
	@extend h1;

	margin: 0;
}

.post__dateline {
	margin-top: 2em;
	display: block;
	font-family: $display-font;
}

.post__content {
	p,
	li {
		line-height: 1.666666;
	}

	ol,
	ul {
		padding: 0 0 0 $page-margin-mobile;
		margin: 2em 0;

		@include larger-than(mobile) {
			padding: 0;
		}
	}

	li {
		margin: 0 0 1em;
	}

	ul li {
		@include custom-list-bullet($decoration-character);
	}

	pre {
		padding: $page-margin-mobile;
		margin: 2em $page-margin-mobile * -1;
		overflow: auto;
		white-space: pre;

		@include larger-than(mobile) {
			padding: $page-margin-tablet;
			margin: 2em $page-margin-tablet * -1;
		}

		@include larger-than(desktop) {
			padding: 2em;
			margin: 2em -2em;
		}
	}
}

.post__footer {
	margin-top: 4em;
}

.post__footer-hr {
	margin: 4em 0;

	&::before {
		color: var(--accent-1);
	}
}

.post__footer-hr::after {
	content: $decoration-character;
	color: var(--accent-2);
	margin-left: 0.25em;
}

.post__featured-image {
	margin: 2em -2em 0;
}

.post__featured-image-caption {
	padding: 0 2em;
}

.post__figure--medium {
	max-width: 28em;
}

.post__figure--small {
	max-width: 12em;

	@include larger-than(mobile) {
		max-width: 16em;
	}
}
