.post-list {
	padding: 0;
	margin: 0 0 4em;
	line-height: 1.666666;
}

.post-list__link {
	display: block;

	&:visited {
		opacity: 0.75;
	}
}

.post-list__item {
	@include custom-list-bullet('▰');

	margin: 0 0 2em;
}

.post-list__heading {
	margin: 0;
}
