$content-max-width-mobile: 500px;
$content-max-width-tablet: 640px;
$content-max-width-desktop: 800px;
$page-margin-mobile: 1.5em;
$page-margin-tablet: 2em;
$base-font: 'PT Sans';
$code-font: 'Ubuntu Mono', 'Courier New', monospace;
$display-font: 'Overpass', sans-serif;
$decoration-character: '▰';
$shadow-width: 0.25em;
