$content-max-width-mobile: 660px;
$content-max-width-tablet: 800px;
$page-margin-mobile: 1.25em;
$page-margin-tablet: 2em;
$base-font: 'PT Sans';
$code-font: 'Ubuntu Mono', 'Courier New', monospace;
$display-font: 'Overpass', sans-serif;
$decoration-character: '▰';
