:root {
  --accent-1: #c61905;
  --accent-2: #0646df;
  --background: white;
  --foreground: #242427;

  @media (prefers-color-scheme: dark) {
    --background: #242427;
    --foreground: white;
  }
}

* {
  box-sizing: border-box;

  &:focus {
    outline: 0.25rem solid var(--accent-1, black);
  }

  &:active {
    outline: none;
  }
}

::selection {
  background: var(--foreground, black);
  color: var(--accent-2, white);
}

body {
  background-color: var(--background, white);
  color: var(--foreground, black);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--accent-1);
  }
}

figure {
  margin: 0 auto 2em;

  img {
    display: block;
    box-shadow: 0.333333em 0.333333em 0 0 black;
  }

  figcaption {
    margin-top: 1.5em;
    margin-left: 0.333333rem;
    font-size: 0.8em;

    p {
      line-height: 1;
    }
  }
}

code,
pre {
  background: rgba(0, 0, 0, 0.05);

  @media (prefers-color-scheme: dark) {
    background: rgba(0, 0, 0, 0.25);
  }
}

hr {
  height: 0;
  border: 0;
  text-align: center;
  margin: 3em 0;
  padding: 0;

  &::before {
    content: '▰';
  }
}
