html {
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;

  @include larger-than(mobile) {
    font-size: 125%;
  }
}

blockquote {
  font-family: $display-font;
  position: relative;
  padding: 0 2em;
  margin: 0 0 2em;
  font-size: 1.1em;

  &::before {
    content: '››';
    color: var(--accent-2);
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1.5;
    font-size: 1em;
  }
}

code {
  font-family: $code-font;
  line-height: 2;
  padding: 0 0.333333em;
  display: inline-block;
}

pre {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
  font-size: 1em;

  code {
    background: none;
    padding: 0;
  }
}

p {
  line-height: 1.5;
  margin: 0 0 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: $display-font;
}

h1 {
  @include larger-than(tablet) {
    font-size: 2.5em;
  }

  @include larger-than(desktop) {
    font-size: 3em;
  }
}