{{ define "main" }}
  <div class="page">
  	{{ partial "nav.html" }}
    <main id="main">
      <h1 class="page__heading">{{.Title}}</h1>
      <p>Occasionally I write essays about design, technology, and other things that pique my interest. Subscribe to my mailing list and I’ll send you periodic emails when I publish something new.</p>
      <h2>Subscribe</h2>
      <p>Enter your email address to be notified when I publish new posts:</p>
      {{ partial "mailchimp.html" }}
    	<h2>All posts</h2>
      <ul class="post-list">
      <!-- Ranges through content/posts/*.md -->
      {{ range .Pages }}
        <li class="post-list__item">
          <a href="{{.Permalink}}" class="post-list__link">
            <h3 class="post-list__heading">{{.Title}}</h3>
          </a>
          <time datetime="{{.Date}}" class="post-list__date">{{.Date.Format "2 January 2006"}}</time>
        </li>
      {{ end }}
      </ul>
    </main>
  </div>
{{ end }}
