<header class="header">
	<nav class="nav header__nav">
		<ul class="nav__items">
			<li class="nav__item">
				<a href="/">jshakespeare.com</a>
			</li>
			<li class="nav__item">
				<a href="/about/">About</a>
			</li>
			<li class="nav__item">
				<a href="/posts/">Posts</a>
			</li>
		</ul>
	</nav>
	<p class="header__description">James Shakespeare builds websites, like this one. He is from London and works at <a href="https://qz.com/user/777129/">Quartz</a> in New York.</p>
	<div class="header__decoration" aria-hidden="true"></div>
</header>
